@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@theme {
  --font-sans: 'Manrope', sans-serif;

  /* Lavanti Corporate Palette */
  --color-near-black: #262626;
  --color-electric-blue: #0D86FF;
  --color-coral: #FF632C;
  --color-neon-yellow: #E5FF4A;
  --color-lime-green: #B4FF00;
  --color-off-white: #F2F2F2;
  --color-light-gray: #EAEAEA;

  /* Multihousing Palette */
  --color-mh-blue: #1DB5DE;
  --color-mh-green: #C2D219;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #F2F2F2;
  color: #262626;
}
